{% extends 'base.html' %}

{% block title %}My Therapist{% endblock %}

{% block body %}

<section class="hero">
    <h1>Find Support and Healing Through Online Therapy</h1>
    <p><b>Your path to better mental health starts here.</b></p>
    <!-- <a href="#" class="cta-button">Get Started</a> -->
    <div class="d-flex justify-content-center align-items-center">
        <form method="get" action="/search">
            <div class="input-group w-100">

                <input type="search" name="q" class="form-control" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />

                <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </span>
            </div>
        </form>
    </div>
</section>

<section class="value-prop">
    <h2>Why Choose Us?</h2>
    <p>
        We are dedicated to providing compassionate and effective online therapy
        services to help you improve your mental well-being.
    </p>
</section>
{% endblock %}