<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #aeb7e9;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 400px;
            margin: auto;
            margin-top: 120px;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #error_message {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="text-center">
            <h1>Login Page</h1>
        </div>
        </br>
        
        <div id="error_message" class="alert alert-danger" role="alert">
            Error Message!
        </div>
    
        <form id="form_login">
            <div class="form-label-group">
                <label for="inputEmail">Email address</label>
                <input type="email" name="email" id="inputEmail" class="form-control"
                    placeholder="Enter your Email address" required autofocus />
            </div>
            </br>
            <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                    placeholder="Enter your Password" required />
            </div>
            </br>
            <div class="text-center">
                <button class="btn btn-lg btn-primary" type="submit">Login</button>
            </div>
        </form>
        <div class="text-center">
            <br />
            Want to create an account?
            <a href="/signup">SignUp</a>
        </div>
    </div>

    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        document.getElementById("form_login").onsubmit = function(event) {
            event.preventDefault();

            var email = document.getElementById("inputEmail").value;
            var password = document.getElementById("inputPassword").value;

            var data = {
                email: email,
                password: password
            };

            var res = user_login(data);
            if (res.hasOwnProperty("session_id")) {
                document.cookie = "session_id=" + res.session_id;
                window.location.href = "/";
            } else {
                document.getElementById("error_message").style.display = "block";
                document.getElementById("error_message").innerHTML = res.responseJSON.message;
            }
        };
    </script>
</body>

</html>