<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Success!</title>
</head>
<body>
    {% if session_id %}

        <h1>Login Success!</h1>
        <p>Session ID: {{ session_id }}</p>
        <p>You will be automatically redirected to the home page in less than 1 seconds...
        </p>
        <a href="/">Go to Home</a>

        <script>
            document.cookie = "session_id={{ session_id }}";
            document.location = "/";
        </script>

    {% endif %}
</body>
</html>