{% extends 'base.html' %}

{% block title %}Schedule Appointment{% endblock %}

{% block styles %}
<style>
    /* Additional styles specific to the schedule appointment page */
    .container {
        margin-top: 30px;
    }

    .form-group {
        margin-bottom: 20px;
    }
    
    #error_message {
        display: none;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Schedule an Appointment</h1>
    <h2><span id="patient_name"></span> with <span id="therapist_name"></span></h2>
    <!-- Display error -->

    <div class="alert alert-danger" role="alert" id="error_message">
        Error Message!
    </div>

    <form id="form_schedule">
        <!-- hidden input for patient -->
        <input type="hidden" name="patient_id" id="patient_id">
        <!-- hidden input for therapist -->
        <input type="hidden" name="therapist_id" id="therapist_id">
      
        <div class="form-group">
            <label for="appointment_datetime">Date and Time</label>
            <input type="datetime-local" class="form-control" id="appointment_datetime" name="appointment_datetime" value="{% if form %}{{ form.appointment_datetime}}{% endif %}" required>
        </div>
        <div class="form-group">
            <label for="appointment_type">Appointment Type</label>
            <select class="form-control" id="appointment_type" name="appointment_type">
                <option value="in-person">In-Person</option>
                <option value="online">Online</option>
            </select>
        </div>
        <div class="form-group" id="location-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" name="location">
        </div>
        <div class="form-group" id="online-link-group" style="display: none;">
            <label for="online_link">Online Meeting Link</label>
            <input type="text" class="form-control" id="online_link" name="online_link">
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control" id="notes" name="notes" rows="4" placeholder="Type down your notes here...">

            </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Schedule</button>
    </form>
</div>

<script>
    // Set the default display style for location and online link input based on the selected appointment type
    var appointmentType = document.getElementById('appointment_type');
    var locationGroup = document.getElementById('location-group');
    var onlineLinkGroup = document.getElementById('online-link-group');
    if (appointmentType.value === 'in-person') {
        locationGroup.style.display = 'block';
        onlineLinkGroup.style.display = 'none';
    } else {
        locationGroup.style.display = 'none';
        onlineLinkGroup.style.display = 'block';
    }

    // Show/hide location or online link input based on the selected appointment type
    document.getElementById('appointment_type').addEventListener('change', function () {
        var locationGroup = document.getElementById('location-group');
        var onlineLinkGroup = document.getElementById('online-link-group');

        if (this.value === 'in-person') {
            locationGroup.style.display = 'block';
            onlineLinkGroup.style.display = 'none';
        } else {
            locationGroup.style.display = 'none';
            onlineLinkGroup.style.display = 'block';
        }
    });
</script>
{% endblock %}

{% block scripts %}
<script>
    // when document is ready
    $(document).ready(function () {
        // get therapist id from url params
        var urlParams = new URLSearchParams(window.location.search);
        var therapistId = urlParams.get('therapist_id');
        
        var patient = get_user();
        var therapist = get_therapists(therapistId);

        // Initialize the form with patient and therapist data
        $('#patient_name').text(patient.name);
        $('#therapist_name').text(therapist.name);
        $('#patient_id').val(patient.id);
        $('#therapist_id').val(therapist.id);

        // form submit
        $('#form_schedule').submit(function (e) {
            e.preventDefault();

            // get form data
            var formData = $(this).serializeArray();
            var res = schedule_appointment(formData);

            if (res.hasOwnProperty('id')) {
                // success
                alert('Appointment scheduled successfully!');
                window.location.href = '/';
            } else {
                // error
                $('#error_message').text(res.responseJSON.message);
                $('#error_message').show();
                // scroll to top
                $('html, body').animate({ scrollTop: 0 }, 'fast');
            }
        });

    });
</script>
{% endblock %}
