{% extends 'base.html' %}
{% block title %}
Therapists
{% endblock %}

{% block styles %}
<style>
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
</style>
{% endblock %}


{% block body %}


<div class="container">
    <div class="content contact-list">
        <div class="card card-default">
            <div class="card-header align-items-center px-3 px-md-5">
                <h2>Therapists</h2>

                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-contact">Add
                    Contact</button> -->
                <div class="d-flex justify-content-center align-items-center">
                    <form method="get" action="/search">
                        <div class="input-group w-100">

                            <input type="search" id="search_input" name="q" value="{{ query or '' }}" class="form-control"
                                placeholder="Search" aria-label="Search" aria-describedby="search-addon" />

                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card-body px-3 px-md-5">
                <div class="row" id="therapists">
                    <!-- fill with js -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function add_therapists_to_html(therapists) {
        let therapistsContainer = $('#therapists');
        therapists.forEach(function (therapist) {
            let therapistHTML = `
                    <div class="col-lg-3 col-xl-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-default p-4">
                            <a href="/therapists?id=${therapist.id}" class="media text-secondary" data-toggle="modal" data-target="#modal-contact">
                                <img src="${therapist.profile.photo}" class="mr-3 img-fluid rounded card-img-top" alt="Avatar Image" />
                                <div class="media-body">
                                    <h6 class="mt-0 mb-2 text-dark">${therapist.name}</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                `;
            therapistsContainer.append(therapistHTML);
        });
    }

    $(document).ready(function () {
        var currentPath = window.location.pathname;

        if (currentPath == "/therapists") {
            let therapists = get_therapists();
            add_therapists_to_html(therapists);
        }
        if (currentPath == "/search") {
            var urlParams = new URLSearchParams(window.location.search);
            var query = urlParams.get('q');
            $('#search_input').val(query);
            let therapists = search_therapists(query);
            add_therapists_to_html(therapists);
        }
    });
</script>
{% endblock %}