{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Therapist Detail</h1>
    <div class="row">
        <div class="col-md-4">
            <img id="img_profile" src="" alt="Therapist Photo" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h2 id="therapist_name"></h2>
            <p>Email: <span id="therapist_email"></span></p>
            <p># of Appointments: <span id="therapist_appointments"></span></p>
            <a id="therapist_schedule" href="" class="btn btn-success">Schedule Appointment</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Therapist Profile</h3>
            <p>License Info: <span id="therapist_license"></span></p>
            <p>Speciality: <span id="therapist_speciality"></span></p>
            <p>Experience: <span id="therapist_experience"></span> years</p>
            <p>Bio: <span id="therapist_bio"></span></p>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        var urlParams = new URLSearchParams(window.location.search);
        var id = urlParams.get('id');
        var therapist = get_therapists(id);

        $('title').text(therapist.name + ' | Detail');
        $('#img_profile').attr('src', therapist.profile.photo);
        $('#therapist_name').text(therapist.name);
        $('#therapist_email').text(therapist.email);
        $('#therapist_appointments').text(therapist.number_of_appointments);
        $('#therapist_schedule').attr('href', '/schedule_appointment?therapist_id=' + therapist.id);
        $('#therapist_license').text(therapist.profile.license_info);
        $('#therapist_speciality').text(therapist.profile.speciality);
        $('#therapist_experience').text(therapist.profile.experience);
        $('#therapist_bio').text(therapist.profile.bio);
    });
</script>
{% endblock %}